./consul agent -disable-host-node-id -node-id=$(uuidgen | awk '{print tolower($0)}') -config-dir=consul.d
{
	"advertise_addr_wan": "192.168.1.103",
	"advertise_addr": "192.168.1.103",
	"bind_addr": "192.168.1.103",
	"client_addr": "0.0.0.0",
	"datacenter": "dc1",
	"data_dir": "/opt/consul/data",
	"log_level": "trace",
	"node_name": "s0",
	"ui": true,
	"server": true,
	"bootstrap_expect": 1,
	"rejoin_after_leave": true,
	"leave_on_terminate": false,
	"skip_leave_on_interrupt": true,
	"disable_update_check": true,
	"start_join": ["192.168.1.103:8301", "192.168.1.105:8301", "192.168.1.106:8301"],
	"start_join_wan": ["192.168.1.103:8302", "192.168.1.105:8302", "192.168.1.106:8302"],
	"retry_interval": "3s",
	"raft_protocol": 3,
	"enable_debug": false,
	"enable_syslog": false,
	"reconnect_timeout": "72h",
	"ports": {
		"dns": 8600,
		"http": 8500,
		"https": -1,
		"serf_lan": 8301,
		"serf_wan": 8302,
		"server": 8300
	}
}


{
	"advertise_addr": "192.168.1.101",
	"bind_addr": "192.168.1.101",
	"client_addr": "0.0.0.0",
	"datacenter": "dc1",
	"data_dir": "E:/consul/server3/data",
	"log_level": "INFO",
	"node_name": "s1",
	"ui": true,
	"server": true,
	"bootstrap_expect": 1,
	"start_join": ["192.168.1.101:8301", "192.168.1.102:8301", "192.168.1.103:8301"],
	"rejoin_after_leave": true,
	"leave_on_terminate": false,
	"skip_leave_on_interrupt": true,
	"disable_update_check": true,
	"retry_interval": "3s",
	"raft_protocol": 3,
	"enable_debug": false,
	"enable_syslog": false,
	"reconnect_timeout": "72h",
	"ports": {
		"dns": 8600,
		"http": 8500,
		"https": -1,
		"serf_lan": 8301,
		"serf_wan": 8302,
		"server": 8300
	}
}
